  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="logo" src="/assets/images/logonav.jpg">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="homeButton">
          <a href="">home</a>
        </li>
        <li id="fullClosetButton" class="active">
          <a href="">full closet</a>
        </li>
        <li id="createNewOutfitButton">
          <a href="">create outfit</a>
        </li>
        <li id="myOutfitsButton">
          <a href="">my outfits</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="row">
 <div class="col-md-12"> 
  <h4 id="mycloset">MY CLOSET</h4>
 </div>
</div>

<div id="fullcontainer" class="container">

<div class="row">
  <img id="topmale" src="/assets/images/topmale.jpg" width="80" height="80">
  <img id="blouse3" src="/assets/images/blousehanger3.jpg" width="80" height="80">

  <button id="btnaddtops" class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-warning"></span>Upload</button>
</div>

<div id="topbox" class="row">
   <div id="tops" class="col-md-12"> 

   {{#each clothes}}
    {{#if isTop}}
    <div class="imgDiv">
      <div>
        <img src="{{imagepath}}" alt="top" class="closetImg" height="200" width="200">
      </div>

        <button type="button" class="btn btn-default change-fav center" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<hr>
<br>

<div class="row">   
  <img id="jeans3" src="/assets/images/botton3.jpg" width="40" height="70">

  <img id="skirt1" src="/assets/images/skirt.jpg" width="60" height="60">
  
  <button id="btnaddbottoms" class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-warning"  ></span>Upload</button>

</div>

<div id="bottombox" class="row">
   <div id="bottoms" class="col-md-12"> 

   {{#each clothes}}
    {{#if isBottom}}
    <div class="imgDiv">
      <div>
        <img src="{{imagepath}}" alt="bottom" class="closetImg" height="200" width="200">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<hr>
<br>

<div class="row"> 
  <img id="shoesman" src="/assets/images/shoesmen2.jpg" width="70" height="70">
  <img id="shoeswoman1" src="/assets/images/shoeswoman2.jpg" width="65" height="65">
  <button id="btnaddshoes" class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-warning" ></span>Upload</button>
</div>

<div id="shoesbox" class="row">
   <div id="shoes" class="col-md-12"> 

  {{#each clothes}}
    {{#if isShoe}}
    <div class="imgDiv">
      <div>
        <img src="{{imagepath}}" alt="shoe" class="closetImg" height="200" width="200">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<hr>
<br>

<div class="row"> 
  <img id="accessman" src="/assets/images/clothingmen.jpg" width="60" height="70">
  <img id="accesswoman" src="/assets/images/accesories3.jpg" width="80" height="80">

  <button id="btnaddaccessories" class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-warning" ></span>upload</button>

</div>

<div id="accessoriesbox" class="row">
   <div id="accessories" class="col-md-12"> 

      {{#each clothes}}
    {{#if isAcc}}
    <div class="imgDiv">
      <div>
        <img src="{{imagepath}}" alt="accessorie" class="closetImg" height="200" width="200">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<hr>
<br>

<script src="/assets/js/closetjs.js"></script>
