  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img id="logo" src="/assets/logonav.jpg"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">home</a></li>
        <li class="active"><a href="fullcloset.html">full closet</a></li>
        <li><a href="createnewoutfit.html">create outfit</a></li>
        <li><a href="saveoutfit.html">my outfits</a></li>
      </ul>
    </div>
  </nav>

<div class="row">
 <div class="col-md-12"> 
  <h4 id="mycloset">MY CLOSET</h4>
 </div>
</div>

<div id="fullcontainer" class="container">

<div class="row">
 <h5 id="clothing">TOPS</h5>
   <div class="col-md-12"> 

   {{#each clothes}}
    {{#if isTop}}
    <div style="float:left">
      <div>
        <img src="{{imagepath}}" alt="outfit" height="400" width="400">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<br>
<hr>
<br>

<div class="row">
 <h5 id="clothing" >BOTTOMS</h5>
   <div class="col-md-12"> 

   {{#each clothes}}
    {{#if isBottom}}
    <div style="float:left">
      <div>
        <img src="{{imagepath}}" alt="outfit" height="400" width="400">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<br>
<hr>
<br>

<div class="row">
<h5 id="clothing">SHOES</h5>
   <div class="col-md-12"> 

      {{#each clothes}}
    {{#if isShoe}}
    <div style="float:left">
      <div>
        <img src="{{imagepath}}" alt="outfit" height="400" width="400">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<br>
<hr>
<br>

<div class="row">
<h5 id="clothing">ACCESSORIES</h5>
   <div class="col-md-12"> 

      {{#each clothes}}
    {{#if isAcc}}
    <div style="float:left">
      <div>
        <img src="{{imagepath}}" alt="outfit" height="400" width="400">
      </div>

        <button type="button" class="btn btn-default change-fav" data-id="{{this.clothesID}}" aria-label="Favorite"
        name="favorite"

        {{#if favorite}} value="1"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

        {{else}} value="0"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>{{/if}}
        </button>

        <button type="button" class="btn btn-default delete" data-id="{{this.clothesID}}" aria-label="Delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

    </div>
    {{/if}}
  {{/each}}

   </div>
</div>

<br>
<hr>
<br>


<script src="/assets/js/closetjs.js"></script>